[Unit]
Description=Bind pre-mounted Xperia Android data
DefaultDependencies=no
Requires=mount-android-system.service
After=mount-android-system.service
Before=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/utxperia-android-data
